<%- include("partials/header") %>

<h1>campgrounds page</h1>
<a href="/">home</a>
<a href="/views/campgrounds/new">Submit A New Campground</a>

<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></div>
        <!--ejs tags have to go inside of quotes of img src-->
        <img src="<%= campground.image %>" alt="image of campground">
    </div>
<% }); %>



<%- include("partials/footer") %>